* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

body {
  background-image: url("/img/laya_rojo.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "slidep"
    "titulo-n"
    "main"
    "titulo-p"
    "producto"
    "formulario"
    "informacion"
    "footer";
}

header {
  grid-area: header;
  text-align: center;
  color: white;
  /* position: relative;
  height: 100vh; */
}

nav {
  grid-area: nav;
}

.slidep {
  grid-area: slidep;
  margin: 40px;
}

.titulo-n{
  grid-area: titulo-n;
  background: #fff;
  text-align: center;
}
.titulo-n h1{
  margin:0;
}

main {
  grid-area: main;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  /* grid-template-rows: minmax(250px,auto); */
  /* grid-auto-rows: minmax(250px,auto); */
  grid-auto-flow: row dense;
  margin: 40px;
  gap: 40px;
}

.titulo-p{
  grid-area: titulo-p;
  text-align: center;
  background: #fff;
  /* background: #d6d78a; */
}
.titulo-p h1{
  margin:0;
}

.producto{
  grid-area: producto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.formulario {
  grid-area: formulario;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.informacion {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  color: white;
  grid-area: informacion;
}
.informacion div{
  padding: 40px;
}

footer {
  grid-area: footer;
  text-align: center;
  background: #d6d78a;
}

/* .header .video{
  object-fit: cover;
  position: absolute;
} */

@media screen and (max-width: 768px) {
  body {
    background-image: url("/img/laya_rojo.jpg");
    background-position: center top;
    background-size: contain;
  }
}
